[Unit]
Description=Restore ALSA State
After=graphical.target

[Service]
Type=oneshot
ExecStart=%h/scripts/restore-alsa-state.sh
RemainAfterExit=true

[Install]
WantedBy=default.target
