* {
	border: none;
	border-radius: 0;
	font-family: "HackNerdFont";
	font-weight: bold;
	font-size: 12px;
	min-height: 0;
}

window#waybar {
	background-color: transparent;
	color: #cdd6f4;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

tooltip {
	background: rgba(8, 7, 10, 0.8);
	border-radius: 18px;
	border-width: 2px;
	border-style: solid;
	border-color: #11111b;
}

#workspaces {
	background: rgba(17, 17, 27, 0.7);
	border-radius: .5rem;
	padding: 0.5em;
}

#workspaces button {
	background: rgb(205, 214, 244);
	border-radius: 16px;
	padding: 0;
	margin: 0 0.25em;
	transition: all 0.2s;
	min-height: 5px;
}

#workspaces button.empty {
	opacity: 0.2;
}

#workspaces button.active {
	background: #74c7ec;
	padding: 0 20px;
}

#workspaces button.active.empty {
	opacity: 0.5;
}

#workspaces button.urgent {
	background: #f9e2af;
	padding: 0 5px;
}

#clock,
#window,
#pulseaudio,
#trayswaync,
#hardware,
#network,
#backlight,
#upower {
	background-color: rgba(17, 17, 27, 0.7);
	margin: 0 0 0 0;
	padding: 0 7px;
	border-radius: .5rem;
	border: none;
}

#trayswaync {
	padding: 0 5px;
}

#cpu {
	margin-right: 10px;
}

#memory {
	color: #cdd6f4;
}

#temperature {
	margin-right: 7px;
}

#network {
	margin-right: 5px;
}

#clock {
	color: #cdd6f4;
}

#window {
	background: #dce0e8;
	color: #4c4f69;
	border-radius: .5rem;
	padding: 0 15px;
	margin-left: 20px;
	margin-right: 20px;
}

window#waybar.empty #window {
	background-color: transparent;
}

#custom-arrow1 {
	font-size: 11pt;
	background-color: red;
}

#custom-gpu-temperature {
	margin-left: 7px;
}

#custom-gpu-usage {
	margin-left: 7px;
}
