[Unit]
Description=Mount Ssd Nvme 1 Tera

[Mount]
What=/dev/disk/by-uuid/F412A0FA12A0C34A
Where=/media/games
Type=ntfs3
Options=defaults,uid=1000,gid=1000

[Install]
WantedBy=multi-user.target
